@media screen and (max-width: 365px) {
    main {
      color: rgb(114, 84, 252);
    }

    p {
        font-size: 12px;
        padding: 20px;
          
    }

    .cardRaMPokemons{
        min-width: 10%;
        margin: 10px;   
    }

    .image{ 
       
        height: 100%;
        border-radius: 10px 0 0 10px;  
    }
    
  }