@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: "header header header"
                        "main main main"
                        "main main main"
                        "main main main"
                        "main main main";
}

header{
    margin-top: 30px;
    grid-area: header;
    display: flex;
    justify-content: center;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "Section-1 Section-1"
                         "Section-1 Section-1"
                         "Section-2 Section-2"
                         "Section-2 Section-2";
}

#Section-1{
    margin-top: 40px;
    margin-left: 40px;
    grid-area: Section-1;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 10px; 
    
}

p {
    grid-column: 2/5;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 30px;
      
}

form{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
}

#Section-2{
    grid-area: Section-2;
    display: flex;
    flex-direction: column;
}

#NameInput{
    border: 1.2px rgb(6, 19, 197) solid;
    border-radius: 8px;
    height: 46px;
    min-width: 50% ;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    min-width: 50%; 
    justify-content: center;
    color: rgb(61, 61, 61);
}
#Btn{
    border-radius: 8px;
    height: 46px;
    min-width: 54%; 
}

#Btn-clean{
    border-radius: 8px;
    height: 46px;
    min-width: 30%;
    margin-left: 20px;

    
}

#Slider{
    display: flex;
    height: 280px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; 

}
.cardRaMPokemons{
    position: relative;
    scroll-snap-align: center;
    display: flex;
    align-content: center;
    background-color: rgb(135, 193, 245);
    height: 80%;
    min-width: 34%;
    margin: 20px;
    box-shadow: 6px 6px 6px gray;
    border-radius: 10px;
    
}

.image{ 
    min-width: 200px;
    height: 100%;
    border-radius: 10px 0 0 10px;  
}
ul{
    height: 40%;
    margin-top: 60px;
    margin-left: 26px;
}
